#About{
    width: 90%;
    height: max-content;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 50px;

}
.pareja{
    width: 566px;
    height: 529px;
}
.pareja:first-child{
    border-radius: 50px;
}
.presentacion{
    width: 50%;
    height: max-content;
}
.presentacion>h2{
    height: fit-content;
    margin: 0;
    font-size: 45px;
    font-family: 'Poppins';
    font-weight: 600;
    color: #fff;
}
.presentacion >p{
    color: #FFF;
    font-size: 16px;
    font-family: 'Poppins';
    letter-spacing: 0.63px;
    text-align: justify;
}
/*Celular*/
@media (max-width: 767px) {
    #About{
        flex-direction: column;
        gap: 10px;
    }
    .pareja{
        width: 100%;
    }
    .presentacion{
        width: 100%;
    }
}