#header{
    width: 90%;
    height: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: start;
    margin: auto;
    padding-top: 70px;
    gap: 50px;
}
.perfil{
    width: 50%;
    height: 550px;
}
.foto{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.Home{
    width: 40%;
    height: 435px;
    margin: 0 auto;
}
.Home >span{
    color: #FFF;
    font-size: 24px;
    font-family: 'Poppins';
    font-weight: 600;
    letter-spacing: 0.72px;
}
.Home>h1{
    color: #FD6F00;
    font-size: 32px;
    font-family: 'Poppins';
    font-weight: 600;
    letter-spacing: 0.96px;
}
.profesion{
    width: 80%;
    height: 130px;
    margin: 0 auto;
}
.profesion p{
    display: inline-block;
    margin: 0;
    font-size: 46px;
    font-family: 'Poppins';
    font-weight: 700;
    color: #FFF;
    position: relative;
}
.profesion p:last-child {
    width: fit-content;
    float: right;
}
.Home >p{
    margin: 15px 5px;
    padding: 10px;
    color: #FFF;
    text-align: justify;
    font-size: 19px;
    font-family: 'Poppins';
    letter-spacing: 1px;
    word-spacing: 0.1;
}
.profesion p .barrido {
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 0;
    height: 50px;
    background-color: #FD6F00;
    transition: width 0.3s ease;
}
.profesion p:hover{
    color: #222;
}
.profesion p:hover .barrido {
    width: 100%;
    z-index: -1;
}
.button-name {
    width: 50%;
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px,rgba(45, 35, 66, 0.15) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "Poppins";
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
   }
   
   .button-name:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
   }
   
   .button-name:hover {
    box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px, rgba(45, 35, 66, 0.2) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
   }
   
   .button-name:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
   }

/*Celular*/
@media (max-width: 767px) {
    #header{
        padding: 10px;
        flex-direction: column;
        margin: 22px auto;
    }
    .perfil{
        width: 100%;
        height: 325px;
    }
    .Home{
        width: 100%;
        height: fit-content;
    }
    .Home >span{
        color: #FFF;
        font-size: 24px;
        font-family: 'Poppins';
        font-weight: 600;
        letter-spacing: 0.72px;
    }
    .Home>h1{
        color: #FD6F00;
        font-size: 32px;
        font-family: 'Poppins';
        font-weight: 600;
        letter-spacing: 0.96px;
    }
    .profesion{
        width: 100%;
        height: 130px;
    }
    .profesion p{
        display: block;
        margin: 0;
        font-size: 46px;
        font-family: 'Poppins';
        font-weight: 700;
        color: #FFF;
        position: relative;
    }
    .profesion p:last-child {
        width: fit-content;
        float: right;
    }
    .Home >p{
        margin: 15px 5px;
        padding: 10px;
        color: #FFF;
        text-align: justify;
        font-size: 19px;
        font-family: 'Poppins';
        letter-spacing: 1px;
        word-spacing: 0.1;
    }
    .profesion p .barrido {
        position: absolute;
        bottom: 5px;
        left: 0;
        width: 0;
        height: 50px;
        background-color: #FD6F00;
        transition: width 0.3s ease;
    }
    .profesion p:hover{
        color: #222;
    }
    .profesion p:hover .barrido {
        width: 100%;
        z-index: -1;
    }
}
/*Tablet*/
@media (min-width: 768px) and (max-width: 1024px) {
    #header{
        margin-top: 22px;
        width: 90%;
        height: max-content;
        align-items: flex-start;
    }
    .perfil{
        width: 50%;
        height: 550px;
    }
    .Home{
        width: 50%;
        height: 550px;
    }
    .Home>span{
        font-size: 22px;
        font-family: 'Poppins';
        font-weight: 600;
        letter-spacing: 0.72px;
        color: #FFF;
    }
    .Home>h1{
        color: #FD6F00;
        font-size: 24px;
        font-family: 'Poppins';
        font-weight: 600;
        letter-spacing: 0.96px;
    }
    .profesion{
        width: 100%;
        height: 130px;
    }
    .profesion p{
        display: inline-block;
        margin: 0;
        font-size: 46px;
        font-family: 'Poppins';
        font-weight: 700;
        color: #FFF;
        position: relative;
    }
    .profesion p:last-child {
        width: fit-content;
        float: right;
    }
    .Home >p{
        margin: 15px 5px;
        padding: 10px;
        color: #FFF;
        text-align: justify;
        font-size: 19px;
        font-family: 'Poppins';
        letter-spacing: 1px;
        word-spacing: 0.1;
    }
    .profesion p .barrido {
        position: absolute;
        bottom: 5px;
        left: 0;
        width: 0;
        height: 50px;
        background-color: #FD6F00;
        transition: width 0.3s ease;
    }
    .profesion p:hover{
        color: #222;
    }
    .profesion p:hover .barrido {
        width: 100%;
        z-index: -1;
    }
}