.header{
    width: 100%;
    height: 517.24px;
    padding-top: 100px;
}
.contenedor{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.perfil{
    width: 100%;
    height: 495px;
}
.saludo{
    width: 89px;
    height: 26px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.name{
    width: 283px;
    height: 38px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 38px;
    letter-spacing: 0.03em;
    color: #FD6F00;
}
.deveF{
    width: 488px;
    height: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 0;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin:  55px 10px;
}
.second{
    margin: 20px;
    margin-left: 50%;
}
.parrafo{
    width: 698px;
    height: 101px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    text-align: justify;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.hireMe{
    width: fit-content;
    height: 52px;
    background: #FD6F00;
    border: none;
    border-radius: 5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    text-align: justify;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.foto{
    z-index: -100;
}
.rectangulo{
    position: relative;
    width: 100%;
    height: 83px;
    left: 0px;
    top: 150px;
    background: rgba(253, 111, 0, 0.6);
}
.foto> img{
    margin-top: -90px;
    width: 400px;
    height: 500px;
    object-fit: cover;
}
@media only screen and (max-width: 767px) {
    .header{
        width: 100%;
        height: fit-content;
        padding-top: 100px;
    }
    .contenedor{
        flex-direction: column-reverse;
        width: 100%;
        height: max-content;
        flex-wrap: wrap;
        gap: 10px;
    }
    .perfil{
        width: 100%;
        height: fit-content;
    }
    .deveF{
        height: fit-content;
        font-size: 44px;
        height: fit-content;
    }
    .second{
        margin-left: 35%;
        margin-bottom: 50px;
    }
    .parrafo{
        width: 96%;
        height: fit-content;
        font-size: .9em;
        line-height:normal;
        margin: 10px auto;
    }
    .foto{
        margin: 0px;
        margin-top: -50px;
        width: 100%;
        height: max-content;
        z-index: -100;
    }
    .foto>img{
        width: 100%;
        height: 300px;
        margin: 0 auto;
    }
    .rectangulo{
        height: 60px;
    }
}