@import url(./navegacion.css);
@import url(./cabecera.css);
@import url(./about.css);
@import url(./services.css);
    html {
        scroll-behavior: smooth;
    }
    body{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: #1E1E1E;
        user-select: none;
        -ms-overflow-style: none; 
        scrollbar-width: none;
        overflow-y: scroll;
    }
    ::-webkit-scrollbar {
        display: none;
    }
    ::-webkit-scrollbar-thumb {
        background-color: transparent;
    }